@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Satisfy&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive; */
/* ***** 공통사항****** */
.wrapper {max-width: 1200px; margin: auto;}

.bt-top {width: 50px;height: 50px; border: 1px solid #f072723a; background-color: rgba(218, 168, 156, 0.418); display: table; font-size: 1.25rem; color: #ffffff; border-radius: 3px; transition: all 1s; cursor: pointer; position: fixed; bottom: 40px; right: 40px; z-index: 999; visibility: hidden;}
.bt-top:hover {color: rgb(236, 161, 142) ; background-color: #ffffff;}

.bt-top > .fa {display: table-cell;text-align: center;vertical-align: middle;}



.main-wrap {background: url(../img/slider-bg8.jpg) no-repeat center; background-size: cover; height: 80vh; position: relative;}
.header { color: rgba(255, 255, 255, 0.658); padding-bottom: 100px; background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));}
.header .tops {padding: 10px;}
.header .tel , .emil, .text {float: left; padding-left: 20px; font-family: 'Playfair Display', serif;}
.header .tel , .emil:hover {cursor: pointer;}
.header .link-wrap {float: right;}
.header .logo {float: left;padding: 10px;}
.header .logo:hover{cursor: pointer;}
.header .navi-wrap {float: right; padding: 10px 20px ; font-family: 'Playfair Display', serif; color: #ffffff;}
.header .navi {float: left; padding: 12px 20px; font-weight: 800; position: relative;;}
.header .navi:hover{cursor: pointer;color: rgb(233, 177, 140);}

.header .navi:nth-child(1) .subs {margin-top: 20px;width: 350px; height: 280px; background: #fff5f5; color: #555555; display: none; position: absolute; z-index: 99; left: -150%;}
.header .subs > .subs-rt {float: right;position: absolute; top: 0%; left: 45%;}
.header .subs > .subs-rt > .sub > span {font-size: 10px; background-color: #e16461; color: #ffffff;border-radius: 20%;text-align: center;line-height: 50%; margin: 5px; width: 200px; height: 200px;}

.header .subs .sub {padding: 0.2px;margin: 15px;}
.header .subs .sub:hover {color: #111111;}
.header .subs .sub-rt {}

.header .subs {margin-top: 20px;width: 200px; height: 280px; background: #fff5f5; color: #555555; display: none; position: absolute; z-index: 99;}
.header .subs .sub {padding: 0.2px;margin: 15px;}
.header .subs .sub:hover {color: #111111;}
.header .subs .sub-rt {}

.header .navi:nth-child(3) .subs {margin-top: 20px;width: 180px; height: 240px; background: #fff5f5; color: #555555; display: none; position: absolute; z-index: 99;}

.header .navi:nth-child(3) .subs .sub {border-bottom: 1px solid #ebebeb;padding-bottom: 8px;margin: 10px 0;}
.header .navi:nth-child(3) .subs .sub:hover {background-color: #ffffff}


.header .navi:nth-child(5) .subs {margin-top: 20px;width: 670px; height: 450px; background: #fff5f5; color: #555555; display: none; position: absolute; z-index: 99;float: left; left: -450%;}
.header .navi:nth-child(5) .subs .sub-lt > h3 {font-weight: 800; }
.header .navi:nth-child(5) .subs .sub-mid > h3 {font-weight: 800;}
.header .navi:nth-child(5) .subs .sub-rt > h3 {font-weight: 800; }
.header .navi:nth-child(5) .sub-lt {position: absolute;top: 5%;width: 28%;left: 15px;}
.header .navi:nth-child(5) .sub-mid { width: 25%;float: left;
  position: absolute; top: 5%;left: 30%;}
.header .navi:nth-child(5) .sub-rt {width: 50%; float:right; top: 5%; position: absolute;left: 50%;}
.header .navi:nth-child(5) .sub-rt .text {float: left;}
.header .navi:nth-child(5) .sub-rt .text > img {float: left;padding: 10px;}
.header .navi:nth-child(5) .sub-rt .text > p {padding: 10px; width: 130%; font-size: 12px;}





.header .navi:nth-child(7) .subs {margin-top: 20px;width: 180px; height: 240px; background: #fff5f5; color: #555555; display: none; position: absolute; z-index: 99;}

.header .navi:nth-child(7) .subs .sub {border-bottom: 1px solid #ebebeb;padding-bottom: 8px;margin: 10px 0;}
.header .navi:nth-child(7) .subs .sub:hover {background-color: #ffffff}







.header .border {border-bottom: 1px solid rgba(255, 255, 255, 0.247);}
.header .search-wrap {float: right;}
.header-icon {float: right; letter-spacing: 10px;}
.header-icon > span:hover {cursor: pointer; color: pink;}
.header .fa {float: right; padding: 15px; transition: all 1s;}
.header .fa:hover {cursor: pointer;color:rgb(233, 177, 140);}
.main-text {width: 800px; height: 100px;  position: absolute; top: 50%; left: 50%; 
  transform: translate(-50%, -50%);}

.navi >ul{display: none;}

.main-text > .main-slogan {font-size: 60px; color: white; font-family: 'Playfair Display', serif; font-weight: 600; text-align: center;}
.main-text > .main-desc { font-size: 20px; color: rgb(233, 177, 140); text-align: center;font-family: 'Satisfy', cursive; padding-top: 15px; font-style: italic;}
.pager {position: absolute; bottom: 5%; left: 50%; transform: translate(-50%,-50%); font-size: 5px;}
.pager > span {letter-spacing: 8px; color: white;}
.pager > span:hover {cursor: pointer; color: pink;}


/* ***********welcome-wrap********* */
.weclome {;}
.about-wrap { height: 100%;}
.about-wrap > .wrapper { height: 80vh; padding: 150px 0; }
.about-wrap > .abouts  >.about-pt {width: 33.333%; float: left;  border: 1px solid red;}

.about-logo {font-family: 'Satisfy', cursive; color:rgb(233, 177, 140); font-size: 25px; font-weight: 800;}


.about-pt > .img {width: 30%;float: left;position: relative;}
.about-pt > .img:hover {cursor: pointer; opacity: 0.7; background-color: black; color: white;}
.about-pt > span {position: absolute; padding: 30px 100px;background: rgba(252, 241, 241, 0.637); font-weight: 800; font-size: 24px;left: 18.5%; font-family: 'Playfair Display', 'sans-serif'; opacity: 0;}




.about-pt > .imgr {width: 30%;float: left;position: relative;}
.about-pt > .imgr:hover {cursor: pointer; opacity: 0.7; background-color: black; color: white;}
.about-pt > .imgr:hover .text-r {opacity: 1;}
.about-pt > .text-r {position: absolute; padding: 30px 100px;background: rgba(252, 241, 241, 0.637);
   font-weight: 800; font-size: 24px; left: 62.6%;font-family: 'Playfair Display', 'sans-serif';opacity: 0;}
.about-text {text-align: center;width: 40%; height: 8%; float: left; padding: 0 10px; font-family: 'Playfair Display', 'sans-serif';}
.about-text > img {padding:20px 0;}

.about-text > .about-title {padding:20px 0; font-size: 36px; font-weight: 800;}
.about-text > .about-bts {padding:5px 0; }
.about-bts >button {padding: 13px 35px;  font-weight: 600;font-family: 'Playfair Display', 'sans-serif'; background-color: rgb(233, 177, 140); border: none; transition: all 1s; color: #494949;}
.about-bts >button:hover{cursor: pointer; background-color: black; color: white;}

.show-wrap {
background: url(../img/sliderbg2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 50vh;
position: relative;
}
.show-wrap > .wrapper {padding: 15%; 
text-align: center; height: 60vh}
.show-text > img:hover{cursor: pointer;}
.show-text {font-family: 'Playfair Display', 'sans-serif'; position: absolute; top: 40%; left: 40%;}
.show-title {color: white;font-size: 20px; font-weight: 800; padding-bottom: 20px;}
.show-desc {color: white;font-weight: 600; font-size: 20px;}


.job-wrap {}
.job-wrap > .wrapper {padding: 80px 80px;text-align: center;}
.jobs-text { text-align: center; padding: 20px; }
.job-title {font-size: 50px; ;font-family: 'Playfair Display'; font-weight: 800; padding: 20px 0;}
.jobbox {;height: 100vh; width: 100%;}
.boxs {border: 1px solid rgb(214, 214, 214);height: 50vh; width: 48%; float: left; position: relative;margin: 1%;}
.boxs:hover{cursor: pointer; background-color: rgb(248, 237, 234);}
.box-text {width: 80%; height: 30vh; position: absolute; top: 15%; left: 10%;}
.bx-title {font-family: 'Playfair Display'; font-weight: 800; padding: 20px 0; font-size: 20px;text-align: left;}
.bx-title > i {font-size: 40px; color: rgb(243, 209, 200);padding: 10px; }
.bx-desc {font-family: 'Playfair Display';text-align: left; line-height: 25px;padding-bottom: 30px; }








.gallery-wrap {}
.gallery-wrap > .wrapper{}
.gallery-text > img {padding-left: 18%; padding-bottom: 20px;}
.gallery-text {padding-left: 22%;text-align: center;font-family: 'Playfair Display', serif;}
.gallery-title {font-size: 40px;padding-bottom: 10px;}
.gallery-desc {line-height: 25px;  padding-right: 1%;font-family: 'Playfair Display'}



.gallery-photo { float: left; padding-top: 60px;}
.gallery-photo > div {float: left; width: 20%; overflow: hidden; position: relative;}
.gallery-photo .hover-div {border: 1px solid red;width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.6); position: absolute; top: 0; left: 0;}
.gallery-photo > div > img {transition: all 1s; cursor: pointer;}
.gallery-photo > div > img:hover {opacity: 0.7; transform: scale(1.2);}
.gallery-photo > div > .hover-div > .fa {color: #b3b3b3; font-size: 80px; position: absolute; top: 40%; left: 35%; display: inline-block;}


.our-wrap{height: 70vh;}
.our-wrap > .wrapper {height: 150vh;}
.our-text {width: 100%; text-align: center; height: 50vh;}
.our-text > img {padding-top: 80px ;}
.our-title {font-size: 45px; ;font-family: 'Playfair Display'; font-weight: 800; padding: 20px 0;}
.our-desc {line-height: 25px; font-family: 'Playfair Display';}
.logos{background-color:rgb(255, 255, 255);}
.logos > img:hover {opacity: 0.2;}
.our-photo {;text-align: center;
  padding-top: 450px;padding-bottom: 60px; }



.rv-wrap {background-image: url(../img/pink.png);height: 110vh;}
.rv-wrap > .wrapper {margin-left: 600px; padding-top: 120px}
.rv-forms {background-color: rgb(255, 255, 255);height: 80vh; width: 800px;}
.rv-forms {text-align: center; padding-top: 80px;}
.rv-forms > img {}
.rv-forms > .title {padding: 20px 0; font-size: 50px; font-family: 'Playfair Display'; font-weight: 800;}
.forms-wrap {}
.forms {padding-top: 20px;;height: 70vh;}
.forms > input {padding: 15px 270px;border: none; border-bottom: 4px solid rgb(226, 226, 226) ;
  text-align:left; font-family: 'Playfair Display'; font-weight: 800; }
.forms > Message {padding: 80px 0;}
.number {border: none; border-bottom: 4px solid rgb(226, 226, 226) ; padding: 15px 70px;font-family: 'Playfair Display'; font-weight: 800;}

.textarea {font-family: 'Playfair Display'; font-weight: 800;width: 85%; min-height: 160px; padding: 30px; font-size: 16px;border: none; border-bottom: 4px solid rgb(226, 226, 226) ; }
.name {font-family: 'Playfair Display'; font-weight: 600;width: 85%; min-height: 10px; padding: 6px 30px; font-size: 16px;border: none;
   border-bottom: 4px solid rgb(226, 226, 226) ; }

.rv-bts {padding-top: 40px; }
.rv-bts > button {font-family: 'Playfair Display'; font-weight: 800; border: none; padding: 15px 30px;background-color: rgb(233, 185, 163); transition: all 0.5s;}
.rv-bts > button:hover{cursor: pointer; background-color: black; color: #ffffff;}



.new-wrap{height: 40vh;}
.new-wrap > .wrapper {padding-top:60px;}
.new-text {width: 100%; text-align: center;}
.new-text > img {padding: 20px;}
.new-title {font-size: 45px; ;font-family: 'Playfair Display'; font-weight: 800; padding: 20px 0;}

.new-desc {line-height: 25px; font-family: 'Playfair Display';} 

.new-photo {padding: 50px 0;padding-left: 10px;}
.nphotos{width: 33%; float: left;}
.nphotos > .good-wrap> img {text-align: center;  cursor: pointer;}
.nphotos > .good-wrap> .hover-icon{float: left;}





.good-day {padding: 20px 0; color: gray;  font-size: 15px;font-family: 'Playfair Display';}
.good-title {font-family: 'Playfair Display'; font-size: 24px;padding-bottom: 30px; }
.good-title:hover{cursor: pointer; color: rgb(241, 188, 171);}
.good-bts {}
.good-bts > button {border: none;font-family: 'Playfair Display'; background-color: white; font-weight: 800;}
.good-bts > button:hover {cursor: pointer; color: rgb(241, 188, 171);}
.good-bts > .fa {color: #aaaaaa; cursor: pointer;}
.good-bts > .fa:hover {color:rgb(241, 188, 171);}
.good-bts > button > .span { font-size: 60px;}




.perfect-wrap {
  background: url(../img/slider-bg12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  position: relative;
  }
  .perfect-wrap > .wrapper {padding: 15%; 
  text-align: center; height: 60vh; margin-left: 600px;}
  .perfect-text > img {padding: 30px;}
  .perfect-text {text-align: center;font-family: 'Playfair Display' , 'sans-serif'; position: absolute; top: 30%;left: 35%; }
  .perfect-title {color: white;font-size: 50px; font-weight: 800; padding-bottom: 30px;left: 40px;}
  .perfect-bts { }
  .pf-bts > button {border: none; padding: 15px 30px;background-color:#fae0d3; font-family: 'Playfair Display', 'sans-serif'; font-weight: 800;transition: all 1s ;}
  .pf-bts > button:hover {cursor: pointer; background-color: black; color: white; font-family: 'Playfair Display', 'sans-serif'; font-weight: 800;}


.footer-wrap {background-color: rgb(31, 31, 31);height: 10vh;}
.footer {height: 15vh;padding: 35px 40px; color: gray;}

.ft-text {float: left;font-family: 'Playfair Display', 'sans-serif'; font-size: 14px;}
.ft-icon {float: right;padding: 0 20px; letter-spacing: 10px;}
