.main-wrap {overflow: hidden; position: relative;}
.main-wrap > .slide {position: absolute; width: 100%;}
.main-wrap > .slide > .mask {width: 100%; height: 100%; position: absolute; background-color: #000; opacity: 0.3; top: 0;}
.main-wrap > .bt {color: #fff; font-size: 2rem; line-height: 56px; width: 60px; height: 60px; text-align: center; border: 2px solid #fff; position: absolute; top: calc(50% - 30px); cursor: pointer; z-index: 900;}
.main-wrap > .bt.bt-prev {left: 1rem;}
.main-wrap > .bt.bt-next {right: 1rem;}

.main-wrap > .pagers {position: absolute; z-index: 900; bottom: 1rem; left: 50%; transform: translateX(-50%);}
.main-wrap .pager {font-size: 1rem; color: #fff; cursor: pointer;}
.main-wrap .pager::before {content: "○";}
.main-wrap .pager.active::before {content: "●";}

.main-wrap .slide-content {position: absolute; top: 50%; transform: translate(0, -50%); color: #fff;}
.main-wrap .slide-content.type-c {width: 80%; left: 10%; text-align: center;}
.main-wrap .slide-content.type-l {left: 10%;}
.main-wrap .slide-content > .title {font-size: 4rem; line-height: 1.1; font-family: 'Oswald', sans-serif; text-shadow: 1px 1px 2px rgba(0,0,0,0.4); margin-bottom: 1.25rem; transition: transform 0.5s; transform: translateX(-2000px);}
.main-wrap .slide-content > .title > span {color: #f20;}
.main-wrap .slide-content > .desc {font-size: 2rem; font-weight: normal; margin-bottom: 1.25rem; transition: transform 0.5s; transform: translateX(2000px);}
.main-wrap .slide-content.type-l > .title {font-size: 3rem;}
.main-wrap .slide-content.type-l > .desc {font-size: 1.5rem;}
.main-wrap .slide-content > .bts > a {color: #fff; text-decoration: none; display: inline-block; font-size: 0.75rem; padding: 0.75rem; width: 120px; text-align: center; margin: 0.5rem; transition: transform 0.5s;}
.main-wrap .slide-content > .bts > a:nth-child(1) {transform: translateX(-2000px);}
.main-wrap .slide-content > .bts > a:nth-child(2) {transform: translateX(2000px);}
.main-wrap .slide-content > .bts > a.bt-ghost {border: 4px solid #fff; background-color: rgba(0,0,0,0.2); box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);}
.main-wrap .slide-content > .bts > a.bt-orange {background-color: #f30;}
.main-wrap .slide-content > .bts > a.bt-gray {background-color: #eee; color: #222;}